<mat-card>
    <h1>Student Form</h1>
    <form #studentForm="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>math</mat-label>
              <input matInput 
                [(ngModel)] = "math"
                name = "math"
                type = "number"
                min = "0"
                max = "100"
                required>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>psyc</mat-label>
              <input matInput 
                [(ngModel)] = "psyc" 
                name = "psyc" 
                type = "number"
                min = "0"
                max = "800"
                required>
            </mat-form-field>
          </p>   
          <p>
            <mat-form-field appearance="fill">
                <mat-label>pay</mat-label>
                <mat-select place-holder = "pay" [(ngModel)] = "pay" name = "pay" required>
                  <mat-option *ngFor="let option of options" [value]="option.value">
                    {{option.value}}
                  </mat-option>
                </mat-select>
              </mat-form-field>       
          </p> 
          <p>
            <mat-form-field appearance="fill" *ngIf=result>
                <mat-label>predict</mat-label>
                  <mat-select [(ngModel)] = "result" name = "result">
                  <mat-option value="Will leave">Will leave</mat-option>
                  <mat-option value="Will not leave">Will not leave</mat-option>  
                  </mat-select>
            </mat-form-field>       
          </p>                                                                                                                                     
          <div >
            <button mat-raised-button color="primary"
            (click) = "predict()"
            *ngIf=!result> 
                Predict
            </button>
          </div> 
          <div >
            <button mat-raised-button color="primary"
            *ngIf=result
            (click)="add()"> 
                save
            </button>
            <button mat-raised-button color="warm"
            *ngIf=result
            (click)="cancel()"> 
                cancel
            </button>
          </div> 
    </div>   
    </form>
   </mat-card>