<p *ngIf = "!(authService.getUser()|async)">You are not logged in</p>

<div>
    <button mat-raised-button
    color = "primary"
    (click) = "addCustomersFormOpen = !addCustomersFormOpen">
  Add Customer
  </button>      
</div>
<div>
    <customer-form *ngIf = "addCustomersFormOpen"
        (update) = "add($event)"
        (closeForm) = "addCustomersFormOpen = false"
        [formType]= "'Add Customer'"
        > </customer-form>
</div>

<table mat-table [dataSource]="customers" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span *ngIf = "i!=rowToEdit">{{element.name}}</span> 
        <mat-form-field *ngIf = "i==rowToEdit" >
          <input          
            matInput
            [(ngModel)]="customerToEdit.name" 
            [value] = "element.name"            
          >
        </mat-form-field>
      </td>
    </ng-container>

    <!-- education Column -->
    <ng-container matColumnDef="education">
      <th mat-header-cell *matHeaderCellDef> Education </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span *ngIf = "i!=rowToEdit">{{element.education}}</span>
        <mat-form-field *ngIf = "i==rowToEdit" >
          <input          
            matInput
            [(ngModel)]="customerToEdit.education" 
            [value] = "element.education"            
          >
        </mat-form-field>         
      </td>
    </ng-container>
  
    <!-- income Column -->
    <ng-container matColumnDef="income">
      <th mat-header-cell *matHeaderCellDef> Income </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <span *ngIf = "i!=rowToEdit">{{element.income}}</span>
        <mat-form-field *ngIf = "i==rowToEdit" >
          <input          
            matInput
            [(ngModel)]="customerToEdit.income" 
            [value] = "element.income"            
          >
        </mat-form-field>         
      </td>
    </ng-container>

    <!-- delete Column -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button mat-raised-button
        color = "warn" (click) = "deleteCustomer(element.id)">
          Delete
      </button> </td>
    </ng-container>
    
  <!-- Edit Column
  <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef> Edit </th>
    <td mat-cell *matCellDef="let element; let i = index">
      <button mat-raised-button color = "primary"
       (click) = "editstate[i] = !editstate[i]">
             Edit
       </button>
       <customer-form
         [hidden] = "!editstate[i]"
         [name] = "element.name"
         [education] = "element.education"
         [income] = "element.income"
         [id] = "element.id"
         [formType] = "'Edit customer'"
         (update) = "update($event); editstate[i] = !editstate[i]"
         (closeForm) = "editstate[i] = !editstate[i]">
       </customer-form>
  </ng-container> -->

      <!-- Edit Column -->
      <ng-container matColumnDef="edit">
        <th mat-header-cell *matHeaderCellDef> Edit </th>
        <td mat-cell *matCellDef="let element; let i = index">
          <button 
            *ngIf = "i!=rowToEdit"
            mat-raised-button
            (click) = "moveToEditState(i)"
          >
            Edit
          </button> 
          <button 
            *ngIf = "i==rowToEdit"
            mat-raised-button
            color="primary"
            (click) = "updateCustomer()"
          >
            update
          </button> 
          <button 
            *ngIf = "i==rowToEdit"
            mat-raised-button
            (click) = "rowToEdit = null"
          >
            Cancel
          </button>                   
        </td>
        </ng-container>  

    <!-- predict Column -->
    <ng-container matColumnDef="predict">
      <th mat-header-cell *matHeaderCellDef> Predict </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button *ngIf = "!element.result" mat-raised-button 
        (click) = "predict(i)" color = "primary">
          Predict
      </button> 
      <button *ngIf = "element.result&&!element.saved" mat-raised-button 
      (click) = "updateResult(i)"
      color = "primary">
        Save
      </button>
      <span *ngIf = "element.saved">saved</span>
    </td>
    </ng-container>
    
    <!-- result Column -->
    <ng-container matColumnDef="result">
      <th mat-header-cell *matHeaderCellDef> Result </th>
      <td mat-cell *matCellDef="let element; let i = index">
      <span [ngClass]="[element.result=='Will Pay' ? 'green' : 'red']">{{element.result}}</span>      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>