<mat-card>
    <h1>{{formType}}</h1>
    <form #customerForm="ngForm">
      <div class="example-container">
        <p>
            <mat-form-field appearance="standard">
              <mat-label>Name</mat-label>
              <input matInput 
                [(ngModel)] = "name"
                name = "name"
                required>
            </mat-form-field>
          </p> 
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Education</mat-label>
              <input matInput 
                [(ngModel)] = "education" 
                name = "education" 
                type = "number"
                min = "0"
                max = "24"
                required>
            </mat-form-field>
          </p>   
          <p>
            <mat-form-field appearance="standard">
              <mat-label>Income</mat-label>
              <input matInput 
                [(ngModel)] = "income" 
                name = "income" 
                type = "number"
                required>
            </mat-form-field>
          </p>                                                                           
          <div >
            <button mat-raised-button color="primary"                     
            (click)="updateParent()"> 
                {{formType}}
            </button>
            <button mat-raised-button    
            (click)="tellParentToClose()">  
                     Cancel
            </button>
        </div>  
        <p *ngIf = "isError">Education needs to be between 0 to 24 years</p>
      </div>
    </form>
   </mat-card>