<mat-accordion>
    <mat-expansion-panel *ngFor = "let post of posts$ | async;let i=index">
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{post.id}}
        </mat-panel-title>
        <mat-panel-description>
            {{post.title}}
        </mat-panel-description>
    </mat-expansion-panel-header>
        <p>{{post.body}}</p>
        <b>comments:</b>
        <div *ngFor="let comment of comments$ | async;let i=inde">
            <div *ngIf = "comment.postId == post.id"> *{{comment.body}}</div>
        </div>  
        <button mat-raised-button color="primary"                     
            (click)="savePost(post.id,post.title,post.body);saveState[i]=!saveState[i]"
            [disabled]= saveState[i]>
                Save    
        </button>
        <p *ngIf = "saveState[i]">{{message}}</p>
    </mat-expansion-panel>
  </mat-accordion>
  
  
  