<table mat-table [dataSource]="students" class="mat-elevation-z8">
        
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- mathematics Column -->
    <ng-container matColumnDef="math">
      <th mat-header-cell *matHeaderCellDef>math</th>
      <td mat-cell *matCellDef="let element; let i=index"> {{element.math}} </td>
    </ng-container>

    <!-- psychometric Column -->
    <ng-container matColumnDef="psyc">
      <th mat-header-cell *matHeaderCellDef> psyc </th>
      <td mat-cell *matCellDef="let element;let i=index"> {{element.psyc}} </td>
    </ng-container>
  
    <!-- pay Column -->
    <ng-container matColumnDef="pay">
      <th mat-header-cell *matHeaderCellDef> pay </th>
      <td mat-cell *matCellDef="let element;let i=index"> {{element.pay}} </td>
    </ng-container>

<!-- email Column -->
<ng-container matColumnDef="email">
<th mat-header-cell *matHeaderCellDef>Email</th>
<td mat-cell *matCellDef="let element; let i = index">  {{element.email}} </td>
</ng-container>

<!-- result Column -->
<ng-container matColumnDef="result">
    <th mat-header-cell *matHeaderCellDef>Result</th>
    <td mat-cell *matCellDef="let element; let i = index">  {{element.result}} </td>
</ng-container>


 <!-- delete Column -->
<ng-container matColumnDef="delete">
  <th mat-header-cell *matHeaderCellDef>Delete</th>
  <td mat-cell *matCellDef="let element; let i = index">
    <button mat-raised-button
     color = "warn"
     (click) = "delete(element.id)">
      Delete
   </button>
    </td>
</ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

